.form {
    color: rgba(255, 255, 255, 1);
    width: 80%;
}

.textField {
    width: 80%;
    color: rgba(255, 255, 255, 1);
}

.input {
    color: rgba(255, 255, 255, 1) !important;
}

.button {
    color: rgba(255, 255, 255, 1) !important;
    border-color: rgba(255, 255, 255, 1) !important;
    width: 25%;
    margin: 20px;
}