.textField {
    width: 100%;
    color: rgba(255, 255, 255, 1);
}

.textField input {
    color: rgba(255, 255, 255, 1);
}

.textField label {
    color: rgba(255, 255, 255, 1);
}

.MuiInputBase-root-135 {
    color: rgba(255, 255, 255, 1);
}

.recent {
    color: rgba(255, 255, 255, 1);
    text-align: justify;
    margin: 0 20px 0 20px !important;
    line-height: 40px;
}

.recent a {
    color: rgba(255, 255, 255, 1);
    line-height: 40px;
}

.button {
    color: rgba(255, 255, 255, 1) !important;
    border-color: rgba(255, 255, 255, 1) !important;
    width: 25%;
    margin: 20px;
    float: right;
}