.contact {
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    margin: 20px auto 20px auto;
    width: 80%;
}

.form {
    width: 80%;
}

.contactTextField {
    width: 80%;
    color: rgba(0, 0, 0, 1);
}

.contactTextField input {
    color: rgba(0, 0, 0, 1);
}

.contactTextField label {
    color: rgba(0, 0, 0, 1);
}

.MuiInputBase-root-135 {
    color: rgba(0, 0, 0, 1);
}

.contact .button {
    color: rgba(255, 140, 4, 1) !important;
    border-color: rgba(255, 140, 4, 1) !important;
    width: 25%;
    margin: 20px 0px 20px 20px;
}