.post{
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    margin: auto auto 60px auto;
    width: 80%;
}

.postHeader{
    margin: 0;
    min-height: 45%;
}

#headerImg {
    padding: 0;
    margin: 0;
    width: 100%;
}

.postTitle{
    padding-top: 10px;
    margin: auto 30px auto 30px;
    text-align: center;
    font-family: SamsungImagination Modern;
}

.postTitleDescription {
    color: rgba(143, 62, 31, 1);
    font-size: 24px;
    margin: 30px 0px 0px 0px;
}

.postTitleMain {
    margin: 0;
    font-size: 36px;
    margin: 15px 0px 0px 0px;
}

.postContent {
    max-height: 30%;
    margin: 30px 30px 30px 30px;
    text-align: justify;
    text-overflow: ellipsis;
    overflow: hidden;
}

.postMore {
    height: 10%;
    width: 100%;
    text-align: right;
}

#backBtn {
    color: rgba(255, 140, 4, 1);
    /*width: 85%;*/
    height: 47%;
    cursor: pointer;
    font-size: 16px;
    vertical-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 25px 30px 25px 30px;
    /*background-color: rgba(255, 140, 4, 1);*/
}

.postFooter {
    height: 5%;
    /*width: 90%;*/
    margin: auto 30px auto 30px;
    padding: 10px 0 10px 0;
    color: rgba(143, 62, 31, 1);
    border-top: 1px solid rgba(130, 130, 130, 1);
    font-family: SamsungImagination Modern;
}

.postFooterContent {

}

.postDate {
    float: right;
}